.compound-container {
  padding: 1rem;
  min-height: 20vh;
  background: linear-gradient(
    90deg,
    rgba(6, 10, 22, 1) 0%,
    rgba(26, 43, 76, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compound-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.compound-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding-bottom: 0.25rem;
  font-family: "Montserrat", sans-serif;
}

.compound-description {
  font-size: 1rem;
  color: var(--foreground);
  line-height: 1.6;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.compound-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem 6rem 2rem 6rem;
  gap: 2rem;
  background-color: var(--background);
  flex-wrap: wrap;
  position: relative;
  background-color: var(--background);
  margin-top: 10vh;
}

.compound-box-calculator {
  flex: 1;
  background-color: var(--background);
  padding: 2rem 2rem 3rem 2rem;
  border: 1px solid var(--card-border);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
  max-height: 400px;
}

.compound-box-graph {
  flex: 1;
  background-color: var(--background);
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 30px;
  border: 1px solid var(--card-border);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  max-width: 800px;
  max-height: 600px;
  flex-wrap: wrap;
}

.compound-calculator-title {
  color: var(--foreground);
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

.calculator-icon-inline {
  margin-right: 10px;
  color: var(--primary-blue);
  vertical-align: middle;
}

.compound-result-title {
  color: var(--foreground);
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

.compound-input-initial,
.compound-input-rate,
.compound-input-period,
.compound-input-monthly {
  width: 85%;
  background: none;
  border: 2px solid var(--card-border);
  outline: none;
  padding: 15px 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: var(--card-header);
  margin: 10px;
  box-sizing: border-box;
  color: var(--foreground);
}

.compound-button {
  width: 85%;
  margin-top: 20px;
  padding: 0.75rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 100%;
  background-color: var(--primary-blue);
  transition: all 0.2s ease;
  box-shadow: 0 4px 15px rgba(0, 102, 255, 0.5);
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: var(--foreground);
  border: none;
  white-space: nowrap;
}

.compound-button:hover {
  box-shadow: 0 10px 15px rgba(0, 102, 255, 0.5);
  transform: scale(1.02);
}

.graph-mode-toggle {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  border: 2px solid var(--primary-blue);
  border-radius: 1rem;
  padding: 0.3rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.graph-radio {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.graph-radio input {
  display: none;
}

.graph-label {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--faded);
  font-weight: 500;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.graph-radio input:checked + .graph-label {
  background: var(--primary-blue);
  color: var(--foreground);
}

@media (max-width: 768px) {
  .compound-bottom-section {
    flex-direction: column;
  }
}

.compound-result-description {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--foreground);
  text-align: left;
  border-radius: var(--custom-border-radius);
}

.compound-resume-list {
  list-style: none;
  margin-top: 1rem;
  color: var(--foreground);
}

.compound-tip {
  color: var(--primary-blue);
  font-size: 1rem;
  text-shadow: 0 0 2px var(--primary-blue);
}

.compound-resume-list li {
  margin-bottom: 0.75rem;
}

.compound-resume-list strong {
  color: var(--foreground);
}

.resume-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0rem 1rem 0rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.resume-card {
  flex-grow: 1;
  min-width: 200px;
  max-width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 15px;
  padding: 1.5rem 1rem;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: transform 0.2s ease;
}

.resume-card:hover {
  transform: scale(1.03);
}

.resume-card .compound-result-description {
  margin: 0;
  font-size: 1.1rem;
  color: var(--foreground);
}

.result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.result-label {
  font-size: 0.9rem;
  color: var(--foreground);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.result-value {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  word-break: break-word;
  overflow-wrap: anywhere;
  max-width: 100%;
}

.growth-icon {
  color: var(--primary-blue);
  font-size: 2rem;
}

.compound-chart-area {
  padding: 1rem;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.recharts-cartesian-axis-tick-value {
  fill: var(--foreground);
  font-size: 0.9rem;
}

.recharts-yAxis .recharts-cartesian-axis-tick-value {
  fill: var(--faded);
}

.recharts-bar,
.recharts-area {
  transition: all 0.3s ease;
}

.compound-error-message {
  color: var(--foreground);
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.compound-box-calculator > input {
  background-color: transparent;
}
