.about-container {
  padding: 60px 100px;
  color: var(--custom-opposite);
}

.about-section {
  margin-bottom: 60px;
}

.about-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--custom-highlight);
  text-align: justify;
}

.about-section strong {
  color: var(--custom-opposite);
}

@media (max-width: 900px) {
  .about-section h2 {
    font-size: 1rem;
  }

  .about-section p {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 60px 40px;
  }

  .about-section h2 {
    font-size: 0.8rem;
  }

  .about-section p {
    font-size: 0.6rem;
  }
}
