.assets-container {
  padding: 2rem 5%;
  width: 90%;
}

.assets-section {
  margin-bottom: 4rem;
}

.assets-section h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--custom-opposite);
}

.assets-arrow {
  color: var(--custom-faded);
}

.assets-tickers {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.assets-ticker {
  font-weight: 500;
  color: var(--custom-faded);
  cursor: pointer;
  transition: color 0.3s;
}

.assets-ticker:hover {
  color: white;
}

.assets-chart-wrapper {
  background-color: var(--custom-search);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px #a78bfa33;
}

.assets-filters {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  color: var(--custom-faded);
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.assets-filters span {
  cursor: pointer;
  transition: color 0.3s;
}

.assets-filters span:hover {
  color: var(--custom-opposite);
}

.assets-filters .active {
  color: var(--custom-opposite);
  font-weight: bold;
}
