.calculators-container {
  width: 100%;
  color: var(--custom-opposite);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  
}

.calculators-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.calculators-container h3 {
  color: var(--custom-opposite);
}

.calculators-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calculators-title-div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.calculators-subtitle {
  text-align: center;
  color: var(--custom-opposite);
  opacity: 50%;
  font-size: 16px;
}

.calculators-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.calculators-card {
  background-color: var(--custom-search);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 25px;
}

.calculators-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.calculators-card > a {
  color: var(--custom-bluish-purple);
  text-decoration: none;
}

.suggestion-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.suggestion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 60%;
}

.suggestion-section h4 {
  font-size: 20px;
  font-weight: 600;
}

.suggestion-section span {
  font-size: 14px;
  color: var(--custom-opposite);
  opacity: 50%;
}

.suggest-btn {
  background-color: var(--card-bg);
  color: var(--custom-opposite);
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 200px;
}

.sugerir-btn:hover {
  background-color: #475569;
}
