.calculators-card-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.calculators-card {
  display: flex;
  flex: 1;
  height: 30vh;
  background-color: var(--card-bg);
  border: solid 1px var(--card-border);
  color: var(--foreground);
  border-radius: 15px;
  text-decoration: none;
}

.calculators-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.calculators-card:hover {
  box-shadow: 0 0 10px rgba(0, 102, 255, 0.5);
  transform: translateY(-3px);
}

.calculators-card > div {
  display: flex;
  margin-left: 2vw;
}

.calculator-icon-section {
  flex: 1;
  align-items: center;
}

.calculator-icon-around {
  background-color: var(--primary-blue-opacity);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
  transition: box-shadow 0.3s;
  border-radius: 100%;
}

.calculator-icon {
  color: var(--primary-blue);
}

.calculator-text-section {
  flex: 1;
  align-items: start;
  flex-direction: column;
  gap: 7px;
  margin-right: 2vw;
}

.suggest-tool-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}

.suggest-tool-card {
  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 15px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}

.suggest-title-section {
  display: flex;
  width: 60%;
  flex: 1.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  text-align: center;
}

.suggest-title-section > span {
  color: var(--faded);
}

.suggest-btn-section {
  display: flex;
  flex: 1;
}

.suggest-btn {
  height: 50px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
