.compound-container {
  padding: 1rem;
  min-height: 20vh;
  background: linear-gradient(
    90deg,
    rgba(6, 10, 22, 1) 0%,
    rgba(26, 43, 76, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compound-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.compound-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding-bottom: 0.25rem;
  font-family: "Montserrat", sans-serif;
}

.compound-description {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.compound-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  background-color: #060a16;
  flex-wrap: wrap;
  position: relative;
  background-color: #060a16;
  margin-top: 10vh;
}

.compound-box-calculator {
  flex: 1;
  background-color: #10141d;
  padding: 2rem;
  border: 1px solid #41434a;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
}

.compound-box-graph {
  flex: 1;
  background-color: #10141d;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #41434a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  max-width: 900px;
}

.compound-calculator-title {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

.compound-result-title {
  color: #838896;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

.compound-result-description {
  color: #838896;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
}

.compound-input-initial,
.compound-input-rate,
.compound-input-period,
.compound-input-monthly {
  width: 80%;
  background: none;
  border: 2px solid #41434a;
  outline: none;
  padding: 15px 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #181e2b;
  margin: 10px;
  box-sizing: border-box;
  color: #fff;
}

.compound-button {
  width: 80%;
  margin-top: 20px;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
  height: 3rem;
  border-radius: 1.5rem;
  background: #0066ff;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.compound-button-content {
  position: relative;
  z-index: 1;
}

.compound-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #060a16 10.8%, #1a2b4c 94.3%);
  transition: all 0.475s;
  z-index: 0;
}

.compound-button:hover::before {
  transform: scaleX(1);
}

/* botoes do grafico */
.graph-mode-toggle {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  border: 2px solid #0066ff;
  border-radius: 1rem;
  padding: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.graph-radio {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.graph-radio input {
  display: none;
}

.graph-label {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #c5c5c5;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.graph-radio input:checked + .graph-label {
  background: linear-gradient(to right, #0066ff, rgb(255, 255, 255));
  color: white;
}

@media (max-width: 768px) {
  .compound-bottom-section {
    flex-direction: column;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.compound-resume {
  color: #838896;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #181e2b;
  padding: 1.5rem;
  border-radius: var(--custom-border-radius);
  border: 1px solid #41434a;
  margin-top: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.compound-result-description {
  font-size: 1.2rem;
  font-weight: bold;
  color: #838896;
  margin-top: 1rem;
  text-align: left;

  border-radius: var(--custom-border-radius);
}

.compound-resume-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  color: #838896;
}

.compound-resume-list li {
  margin-bottom: 0.75rem;
}

.compound-resume-list strong {
  color: #ffffff;
}
