.input-group-login {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.floating-input {
  width: 100%;
  border: 1px solid var(--card-border);
  border-radius: var(--custom-border-radius);
  background: none;
  padding: 0.75rem 0px;
  padding-left: 1rem;
  color: var(--custom-opposite);
  outline: none;
  position: relative;
  font-size: 1rem;
}

.floating-label {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  color: var(--faded);
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: var(--background);
  padding: 0 0.25em;
  font-size: 0.9rem;
}

.floating-input:focus + .floating-label,
.floating-input.filled + .floating-label {
  top: -0.5rem;
  left: 0.75rem;
  color: var(--primary-blue);
}

.floating-input:focus,
.filled {
  border: 1px solid var(--primary-blue);
}

.floating-input-icon {
  position: absolute;
  right: 1rem;
}

.pointer {
  cursor: pointer;
}
