.login-header {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  height: auto;
  width: 100px;
  max-width: 100%;
  object-fit: contain;
}

.lightdark-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s;
}

.lightdark-button:hover {
  color: #ffffff;
}