.hero-section {
  position: relative;
  width: 100%;
  height: 55vh;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 20px 50px -10px rgba(0, 123, 255, 0.2);
  gap: 5px;
}

.hero-section::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(0, 123, 255, 0.15), transparent 70%);
  filter: blur(80px);
  z-index: 0;
}

.hero-section h1,
.hero-section span {
  position: relative;
  z-index: 1;
}

.hero-section > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-h1-highlight {
  color: var(--primary-blue);
}

.hero-section > span {
  color: var(--faded);
  font-size: 1rem;
  max-width: 700px;
  padding: 0;
}

@media (max-width: 1024px) {
  .hero-section {
    height: 45vh;
    gap: 8px;
  }

  .hero-section::before {
    width: 400px;
    height: 400px;
    filter: blur(60px);
  }

  .hero-section > h1 {
    font-size: 2.2rem;
  }

  .hero-section > span {
    font-size: 0.95rem;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 40vh;
    gap: 6px;
    padding: 0px;
  }

  .hero-section::before {
    width: 300px;
    height: 300px;
    filter: blur(40px);
  }

  .hero-section > h1 {
    font-size: 1.8rem;
  }

  .hero-section > span {
    font-size: 0.85rem;
    max-width: 90%;
  }
}
