.home-container {
  padding: 2rem 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.home-hero {
  text-align: center;
  margin-top: 2rem;
}

.home-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--custom-opposite);
}

.home-hero h1 > span {
  color: var(--primary-blue);
}

.home-container h2 {
  color: var(--custom-opposite);
}

.home-hero p {
  font-size: 1rem;
  color: var(--custom-faded);
  margin-bottom: 2rem;
}

.home-hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home-btn-primary {
  background-color: var(--primary-blue);
  color: var(--custom-opposite);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity background-color 0.3s;
  width: 200px;
  text-decoration: none;
}

.home-btn-primary:hover {
  opacity: 60%;
}

.home-btn-secondary {
  background-color: var(--secondary-btn);
  color: var(--custom-opposite);
  border: 1px solid var(--card-border);
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
  text-decoration: none;
}

.home-btn-secondary:hover {
  /* background-color: var(--card-bg); */
  filter: brightness(75%);
}

.home-section {
  margin-top: 4rem;
}

.home-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.home-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.home-card {
  background-color: var(--custom-search);
  height: 250px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--custom-highlight);
  font-size: 0.95rem;
  text-align: start;
}

.home-card-icon {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
}

.home-card-icon {
  margin-left: 20px;
}

.home-card-icon-container {
  height: 40px;
  width: 40px;
  border: var(--card-bg) 1px solid;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon {
  color: var(--card-bg);
}

.home-card-text {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home-card h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.home-card span {
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.home-news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.home-news-card {
  background-color: var(--custom-search);
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
}

.home-news-title {
  font-weight: 500;
  font-size: 1rem;
  color: var(--custom-opposite);
  margin-bottom: 0.5rem;
}

.home-news-source {
  font-size: 0.85rem;
  color: var(--custom-faded);
}

.home-cta {
  text-align: center;
  margin-top: 5rem;
}

.home-cta h2 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.create-account-btn {
  width: 250px;
}
