.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-content {
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content > h1 {
  margin-bottom: 1rem;
  font-size: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
}

.login-btn {
  padding: 0.75rem 0px;
  font-size: 1rem;
  width: 100%;
}

.captcha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-register-p {
  color: var(--foreground);
  margin-top: 3vh;
}

.register-link {
  color: var(--primary-blue);
  text-decoration: none;
}
