.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.register-content {
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-content > h1 {
  margin-bottom: 1rem;
  font-size: 24px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-btn {
  padding: 0.75rem 0px;
  font-size: 1rem;
  width: 100%;
}

.divider {
  width: 100%;
  display: flex;
  gap: 5px;
  height: 1px;
  background-color: var(--card-border);
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.divider > div {
  padding: 0px 10px;
  background-color: var(--background);
}

.register-login-p {
  color: var(--foreground);
  margin-top: 3vh;
}

.register-link {
  color: var(--primary-blue);
  text-decoration: none;
}
