.ticker-page-container {
  margin-top: 0px;
}

.ticker-page-content {
  margin-top: 5vh;
}

.ticker-hero-section {
  height: 20vh;
}

.ticker-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.ticker-page-header {
  width: 100%;
  padding: 5vh 0;
  padding-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 50px -10px rgba(0, 123, 255, 0.2);
  position: relative;
  overflow: hidden;
  z-index: 1;
  gap: 20px;
}

.ticker-page-header::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(0, 123, 255, 0.15), transparent 70%);
  filter: blur(80px);
  z-index: 0;
}

.ticker-page-header > div {
  width: 90%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ticker-cards-container {
  width: 100%;
  height: 10vh;
  max-height: 150px;
  display: flex;
  gap: 1vw;
  padding: 1rem 0px;
  align-items: center;
  justify-content: center;
}

.ticker-info-card {
  height: 100%;
  flex: 1;
  background-color: var(--card-bg);
  border-radius: var(--custom-border-radius);
  border: 1px solid var(--card-border);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.ticker-info-card span {
  color: var(--faded);
}

.ticker-info-card h3 {
  font-size: 1.5rem;
}

.ticker-chart-section {
  width: 100%;
  height: 70vh;
  margin-top: 5vh;
  position: relative;
  background-color: var(--card-bg);
  border-radius: var(--custom-border-radius);
  border: 1px solid var(--card-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
}

.ticker-chart-header {
  width: 85%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticker-chart-container {
  width: 100%;
  height: 85%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticker-chart-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticker-chart-btn {
  padding: 0.5rem 0.75rem;
}

.ticker-chart-active {
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  border: 1px solid var(--primary-blue);
  color: var(--foreground);
  border-radius: var(--custom-border-radius);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.ticker-variation-summary {
  display: flex;
  padding: 1rem 0px;
  margin-top: 3vh;
  width: 100%;
  background-color: var(--card-bg);
  border-radius: var(--custom-border-radius);
  border: 1px solid var(--card-border);
}

.ticker-variation-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.ticker-extra-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

.ticker-extra-info > div {
  height: 10vh;
}

.fundamentals-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.fundamentals-card {
  background-color: var(--card-bg);
  border-radius: var(--custom-border-radius);
  border: 1px solid var(--card-border);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 10vh;
  padding: 1rem;
  gap: 10px;
}

.fundamentals-card .ticker-info-label {
  font-size: 1rem;
  color: var(--faded);
}

.fundamentals-card .ticker-info-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
}
