:root {
  --background: #060a16;
  --background-blur: #030712b3;
  --foreground: #ffffff;
  --primary-blue: #0066ff;
  --primary-blue-opacity: #0066ff33;
  --primary-blue-glow: rgba(0, 102, 255, 0.5);
  --card-bg: #10141d;
  --card-border: #41434a;
  --card-header: #181e2b;
  --faded: rgba(255, 255, 255, 0.7);
  --secondary-btn: #151727;
  --secondary-text: #d1d5db;
  --green: #3bff00;
  --red: #ee4443;
  --glass-card: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
}

[data-theme="light"] {
  --background: #f8fbfb;
  --background-blur: #f8fbfbb3;
  --foreground: #060a16;
  --card-bg: #e0e7ff;
  --faded: rgba(0, 0, 0, 0.7);
  --primary-blue: #00ccff;
  --custom-faded: #777777;
  --custom-hover: #0097a7;
  --custom-highlight: #1f2937;
  --green: #3bff00;
  --red: #ee4443;
}

* {
  scrollbar-width: 0px;
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 100%;
  color: var(--foreground);
}

.login-wrapper,
.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  padding: 0px;
  padding-bottom: 10vh;
}

.page-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

.primary-btn {
  background-color: var(--primary-blue);
  transition: opacity background-color 0.3s;
  box-shadow: 0 4px 15px rgba(0, 102, 255, 0.5);
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: var(--foreground);
  border: none;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.primary-btn:hover {
  box-shadow: 0 10px 15px rgba(0, 102, 255, 0.5);
  scale: 1.02;
}

.secondary-btn {
  transition:
    color 0.2s ease,
    border 0.2 ease,
    border-radius 0.2 ease;
  border-radius: 15px;
  background-color: var(--secondary-btn);
  color: var(--foreground);
  border: 1px solid var(--card-border);
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
}

.secondary-btn:hover {
  filter: brightness(125%);
  scale: 1.02;
  box-shadow:
    0 0 10px var(--secondary-btn),
    0 0 20px var(--secondary-btn);
}

.animated-section {
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.animated-section-active {
  opacity: 100%;
  transform: translateY(0px);
  filter: none;
}

.animated-section-inactive {
  opacity: 0%;
  transform: translateY(10px);
  filter: blur(8px);
}

.blue {
  color: var(--primary-blue);
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}
