:root {
  --background: #060a16;
  --background-blur: #030712b3;
  --foreground: #ffffff;
  --primary-blue: #0066ff;
  --card-bg: #10141d;
  --card-border: #41434a;
  --faded: rgba(255, 255, 255, 0.7);
  --secondary-btn: #151727;
  --secondary-text: #d1d5db;
  --green: #3bff00;
  --red: #ee4443;
  --glass-card: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
}

[data-theme="light"] {
  --background: #f8fbfb;
  --foreground: #060a16;
  --card-bg: #e0e7ff;
  --faded: rgba(0, 0, 0, 0.7);
  --primary-blue: #00ccff;
  --custom-faded: #777777;
  --custom-hover: #0097a7;
  --custom-highlight: #1f2937;
  --green: #3bff00;
  --red: #ee4443;
}

* {
  scrollbar-width: 0px;
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 100%;
  color: var(--foreground);
  padding-top: 10vh;
}

.login-wrapper,
.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}